#Types
*.db 
*.log 
artemis_go/*.csv

# Directories
old_version*
platform/groups*

# Specific files
platform/docker_images/webserver/server/database/database.db
platform/setup/router_config.sh
nohup.out
platform/log.txt
goto_server.sh