{% extends "admin_base.html" %}

{% block head %}
{{ super() }}

<script>
let updateIntervalId = -1; // -1 means not running

function addData(chart, label, data) {
    chart.data.labels.push(label);
    chart.data.datasets.forEach((dataset) => {
        dataset.data.push(data[dataset.label]);
    });    
    chart.update();
}

function fillData(chart, data){
    clearData(chart);
    for (var i = 0; i < data.length; i++) {
        time = data[i].time;
        delete data[i].time;
        addData(chart, time, data[i]);
    }
}

function clearData(chart){
    chart.data.labels = [];
    chart.data.datasets.forEach((dataset) => {
        dataset.data = [];
    });
    chart.update();
}

function stopCheckingForStats() {
    clearInterval(updateIntervalId);
    updateIntervalId = -1
    return 1;
}

function startCheckingForStats(){
    // Call get_updates every 1 minute
    if (updateIntervalId != -1){
        console.log("Already running")
        return -1;
    }
    return updateIntervalId = setInterval(get_stats(-1,-1), 60000);
}

function get_stats(start, end){
    console.log("DEBUG: get_stats called with start: " + start + " end: " + end);
    var xhr = new XMLHttpRequest();
    xhr.onload = function () {
        if (xhr.readyState == 4 && xhr.status == 200) {
            console.log("DEBUG: got response: " + xhr.responseText);
            json_resp = JSON.parse(xhr.responseText);
            
            if(json_resp.length);

            input_json = [];
            for(var i = 0; i < json_resp.length; i++){
                input_json[i] = {};
                input_json[i]["time"] = json_resp[i]["time"];
                input_json[i]["CPU"] = json_resp[i]["cpu"];
                input_json[i]["Memory"] = json_resp[i]["memory"];
                input_json[i]["Disk"] = json_resp[i]["disk"];
            }

            fillData(server_res_chart, input_json);

            return json_resp;
            
        } else {
            console.log('Request failed. Returned status of ' + xhr.status);
            return -1;
        }
    };

    //TODO: Implement a "pull only latest" strategy on updates
    if(start==-1 && end==-1){
        start = 0;
    }

    xhr.open('GET', '?stats=true&start=' + start + '&end=' + end, true);
    xhr.setRequestHeader('Content-type','application/json');
    xhr.send();
}

$(document).ready(function() {
    
    $("#refreshSwitch").change(function() {
        console.log("refreshSwitch changed")
        if ((this.checked==true)){
            $("#stats_end").prop("disabled", true);
        } else {
            $("#stats_end").prop("disabled", false);
        }
    });

    $("#pull_btn").click(function(){
        stopCheckingForStats();
        console.log("DEBUG: Pulling stats")
        
        start = $("#stats_start").val();
        end = $("#stats_end").val();
        if ($("#refreshSwitch").prop("checked")){
            end = 0;
            startCheckingForStats();
        }

        console.log("DEBUG: start: " + start + " end: " + end);
        get_stats(start, end);

    });
    
});


</script>

{% endblock %}

{% block body %}
<div class="tw-drop-shadow-xl">

    <div class="tw-bg-green-200 tw-justify-start tw-flex tw-items-start tw-px-[5px] tw-py-[20px] tw-my-[10px] tw-mx-[2px] tw-border-green-800 tw-border-solid tw-border-l-[10px] tw-rounded-md">
        <div class="tw-flex tw-flex-col tw-items-center tw-mx-[10px]">
            <label for="stats_start">Start Date/Time: </label>
            <input class="" id="stats_start" name="start_date" type="datetime-local">
        </div>
        <div class="tw-mx-[10px] tw-flex tw-flex-col tw-items-center">
            <label for="stats_end">End Date/Time: </label>
            <input class="" id="stats_end" name="end_date" type="datetime-local">
            <div class="tw-border-solid tw-border-b-1 hover:tw-font-bold">
                <input type="checkbox" class="" id="refreshSwitch">
                <label class="" for="refreshSwitch">Pull latest statistics</label>
            </div>
        </div>
        <div class="tw-w-full tw-block tw-flex-grow lg:tw-flex lg:tw-items-center lg:tw-w-auto"></div>
        <div class="tw-mx-[20px] tw-self-center tw-justify-self-end">
            <button id="pull_btn" type="button" class="tw-py-[5px] tw-px-[10px] tw-rounded-md tw-text-white hover:tw-bg-emerald-800 tw-bg-emerald-700">Show statistics</button>
        </div>
    </div>

    <div class="tw-bg-white tw-p-[5px] tw-my-[50px] tw-mx-[5px] tw-drop-shadow-2xl">
        <div class="tw-m-[10px] tw-p-[5px]">

        {% set datasets={"CPU": "cpu", "Memory": "memory", "Disk": "disk"} %}
        {% set label="Server Resources" %}
        {% set name="server_res" %}
        {% include "resource_chart.html" %}
        </div>
    </div>
</div>

{% endblock %}