{% extends "admin_base.html" %}

{% block body %}
<div id="lg-body" class="tw-mx-auto tw-px-6 tw-pt-6 tw-mb-16">
    <div class="tw-flex tw-items-center tw-justify-center">
        <div class="tw-mr-8 tw-mb-4">
            <span class="tw-font-bold">Container</span>
            <select class="tw-bg-transparent tw-border-0 tw-border-b-2 tw-border-neutral-400 hover:tw-border-[#ff7e79]"
                onchange="if (this.value) window.location.href=this.value">
                {% for _container in containers|sort %}
                <option {% if _container==container %}selected{%endif%}
                    value="{{url_for('logs', container=_container)}}">
                    {{_container}}
                </option>
                {% endfor %}
            </select>
            {# Refresh button #}
            <a href="/logs/{{container}}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none">
                Refresh
            </a>
        </div>
    </div>
    <pre id="code"
        class="tw-box-border tw-min-w-fit tw-text-sm tw-px-4 tw-py-2 tw-rounded tw-border tw-border-neutral-300 tw-bg-neutral-100 tw-overflow-x-auto tw-mb-6">{{logs|safe}}</pre>
</div>


{% endblock %}