<div id="{{name}}_usage">
    <h6>{{label}}</h6>
    <div id="{{name}}_usage_chart">
        <canvas id="{{name}}_usage_chart_canvas"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
      const {{name}}_chart_holder = document.getElementById('{{name}}_usage_chart_canvas');
    
      const {{name}}_chart = new Chart({{name}}_chart_holder, {
        type: 'line',
        data: {
          labels: [],
          datasets: [

            {% for d_name, d_mapping in datasets.items() %}
            {
            label: '{{d_name}}',
            data: [],
            borderWidth: 1
            }
            {% if not loop.last %},{% endif %}
            {% endfor %}
          ]
        }
      });
    </script>
</div>