{% set navigation_bar = {
'connectivity_matrix': 'matrix',
'looking_glass': 'looking glass',
'as_connections': 'connections',
'change_pass': 'change password',
'traceroute': 'traceroute',
} -%}

{% if not (logged_in is defined) %}
    {% set logged_in = False %}
{%  endif %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href={{url_for('static', filename='style.css' )}}>

    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Add a prefix to tailwind classes so they doesn't conflit with bootstrap's -->
    <script type="text/javascript">
        tailwind.config = {
            prefix: "tw-"
        }
    </script>

    <title>HY-335B Routing Project - {{ navigation_bar.get(request.endpoint, request.endpoint)|replace('_', " ")|title }}
    </title>
    {% endblock %}
</head>

<body class="tw-flex tw-flex-col tw-min-h-screen">
    <!-- Flex and min-height allow the Krill iframe to fill the screen. -->
    <!-- Menu bar background (full-width). -->
    <div style="display: flex;justify-content: flex-start;position: relative;height: 100px;background-color: #1c1c21 ;">
        <div style="flex: 0 1 auto;margin-right: auto;padding: 10px;color: white;">
            <div style="display: flex;flex-direction: column;">
                {% if logged_in == True %}
                    <span>Logged in as AS: </span>
                    <a class="tw-block tw-mt-4 lg:tw-inline-block lg:tw-mt-0 hover:tw-font-bold tw-mr-4 tw-text-lg" href="{{url_for("logout")}}">[ ] Log Out</a>
                {% else %}
                    <span>You are not logged in</span>
                    <a class="tw-block tw-mt-4 lg:tw-inline-block lg:tw-mt-0 hover:tw-font-bold tw-mr-4 tw-text-lg" href="{{url_for("as_login")}}">[ ] Log in</a>
                {% endif %}
            </div>
        </div>
        <div style="flex: 1 1 auto;width: 70%;">
            <div id="menu" class="tw-flex-none tw-w-full tw-bg-[#1c1c21] tw-text-white tw-font-mono">
                <nav class="tw-max-w-6xl tw-mx-auto tw-flex tw-items-center tw-justify-between tw-flex-wrap tw-p-4" style="max-width: 100%">
                    <!-- Logo -->
                    <div class="tw-flex tw-items-center tw-flex-shrink-0 tw-mr-6 tw-text-3xl tw-font-bold">
                        <img class=" tw-h-16 tw-pr-4" alt="logo" src="{{url_for('static', filename='logo.svg')}}" />
                        <!-- <span class="text-gray-400 pr-2">></span> -->
                        <span>HY-335B routing project</span>
                    </div>
                    <!-- Menu -->
                    <div class="tw-w-full tw-block tw-flex-grow lg:tw-flex lg:tw-items-center lg:tw-w-auto"></div>
                    {% for endpoint, name in navigation_bar.items() %}
                    <div class="">
                        <a class="tw-block tw-mt-4 lg:tw-inline-block lg:tw-mt-0 hover:tw-font-bold tw-mr-4 tw-text-lg" href="{{url_for(endpoint)}}"
                            }}>
                            <span class="tw-pr-2 tw-pl-2">
                                <span class="tw-text-gray-400">[</span>{{'*' if endpoint == request.endpoint else ' '}}<span
                                    class="tw-text-gray-400">]</span></span>{{name}}
                        </a>
                    </div>
                    {% endfor %}
                </nav>
            </div>
        </div>
    </div>
    {% block body %}{% endblock %}
</body>

</html>