{% extends "base.html" %}
{% from 'macros.html' import h1 %}

{% block head%}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script>
<script>
	
	function testforconfirmation(){
		newpass=$("#new_pass").val();
		confirmpass=$("#confirm_pass").val();

		if(confirmpass != newpass){
			$("#error_msg").show();
			$("#submit_btn").prop('disabled', true);
			console.log("error");
		}else{
			$("#error_msg").hide();
			$("#submit_btn").prop('disabled', false);
			console.log("no error");
		}
	}

	$(document).ready(function(){
		$("#error_msg").hide();
		$("#new_pass,#confirm_pass").on('input', function(){ testforconfirmation(); });
	});

</script>

{% endblock %}

{% block body %}
<div class="tw-max-w-4xl tw-mx-auto tw-p-6 tw-w-3/5">
	{{ h1("Change AS password") }}
	<p class="tw-mb-2">
	Here you can change your AS's password. This includes:
	</p>
	<ul class="tw-list-disc tw-list-inside tw-mb-2">
		<li>The ssh password of your proxy container</li>
		<li>The login password to this website</li>
	</ul>
	<div class="tw-flex tw-flex-col tw-border-white tw-border-l-amber-500 tw-border-2 tw-place-content-center tw-p-2 tw-pl-5">
		<div>
			<p>Enter your old AS password:</p>
			{{ form.old_pass(class_='form-control tw-mb-3 tw-border-2 tw-rounded-md tw-border-[#ff7e79] tw-drop-shadow-lg

') }}
		</div>
		<form method="POST" action="">
			<div>
				<p>Enter your new AS password:</p>
				{{ form.new_pass(id_='new_pass',class_='form-control tw-mb-3 tw-border-2 tw-rounded-md tw-border-[#ff7e79] tw-drop-shadow-lg') }}
			<div>
			</div>
				<p>Confirm your new AS password:</p>
				{{ form.confirm_pass(id_='confirm_pass',class_='form-control tw-mb-3 tw-border-2 tw-rounded-md tw-border-[#ff7e79] tw-drop-shadow-lg') }}
			</div>
			<div class="tw-flex">
				<div class="tw-w-3/5">
					<p id="error_msg" class="tw-text-red-600">New password and it's confirmation is not matching</p>
				</div>
				<div>
					{{ form.submit(id_="submit_btn",class_='btn btn-primary btn-block mb-4', style='background-color:#3b71ca') }}
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
