{%  extends "base.html" %}
{% from 'macros.html' import h1 %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}

<div>
    <aside id="default-sidebar" class="tw-drop-shadow-2xl tw-float-left tw-w-64 tw-h-screen tw-transition-transform tw--translate-x-full sm:tw-translate-x-0">
        <div class="tw-h-full tw-px-3 tw-py-4 tw-overflow-y-auto tw-bg-[#290D00] tw-text-white">
            <ul class="tw-space-y-2 tw-font-medium">
                {% for period in configdict.periods %}
                <li> 
                    <a href="/rendezvous/{{period.id}}" class="tw-flex tw-items-center tw-p-2 tw-rounded-lg {{'tw-bg-[#3d1300]' if request.endpoint == 'config_teams' }} hover:tw-bg-[#521A00]">
                        <svg class="tw-w-6 tw-h-6 tw-transition tw-duration-75 group-hover:tw-text-gray-900 "xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                        <span class="tw-ml-3">{{period.name}}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </aside>

    {% if "booked_rendezvous" in configdict %}
    <div class="tw-flex tw-flex-col tw-justify-center">

        <div class="tw-max-w-4xl tw-mx-auto tw-p-6">
            {{ h1("Booked Rendezvous for %s" % (configdict.selected.name)) }}
            <p class="tw-mb-4">
                You have succesfully booked the following renezvous for {{configdict.selected.name}}
            </p>
            <p class="tw-mb-4">
                You can cancel your rendezvous by clicking on the "Cancel" button. Then you will be able to book a new one.
            </p>

            <div id="booked-rendezvous" class="tw-flex tw-flex-row tw-items-center">
                <div class="tw-w-32 tw-flex-none tw-rounded-t lg:tw-rounded-t-none lg:tw-rounded-l tw-text-center tw-shadow-lg ">
                    <div class="tw-block tw-rounded-t tw-overflow-hidden tw-text-center ">
                        <div class="tw-bg-blue-950 tw-text-white tw-py-1">
                            {{configdict.booked_rendezvous.datetime.month}}
                        </div>
                        <div class="tw-pt-1 tw-border-l tw-border-r tw-border-white tw-bg-white">
                        <span class="tw-text-5xl tw-font-bold tw-leading-tight">
                            {{configdict.booked_rendezvous.datetime.day}}
                        </span>
                        </div>
                        <div class="tw-border-l tw-border-r tw-border-b tw-rounded-b-lg tw-text-center tw-border-white tw-bg-white tw--pt-2 tw--mb-1">
                        <span class="tw-text-sm">
                            {{configdict.booked_rendezvous.datetime.day_str}}
                        </span>
                        </div>
                        <div class="tw-pb-2 tw-border-l tw-border-r tw-border-b tw-rounded-b-lg tw-text-center tw-border-white tw-bg-white">
                        <span class="tw-text-xs tw-leading-normal">
                            {{configdict.booked_rendezvous.datetime.time}}
                        </span>
                        </div>
                    </div>
                </div>
                <form action="#" method="post">
                    <input type="hidden" name="rend_id" value="{{configdict.booked_rendezvous.id}}">
                    <input type="hidden" name="team_asn" value="{{current_user.asn}}">
                    <button type="submit" name="cancel" value="1" class="tw-ml-10 tw-mt-4 tw-py-2 tw-px-4 tw-bg-red-600 tw-text-white tw-font-semibold tw-rounded-lg tw-shadow-md hover:tw-bg-red-700 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-red-500 focus:tw-ring-opacity-50" {{"disabled" if configdict.booked_rendezvous.datetime.past==1}}>
                        Cancel
                    </button>
            </div>
        </div>
    </div>
    {% else %}
    <div class="tw-flex tw-flex-col tw-items-center">

        <div class="tw-max-w-4xl tw-mx-auto tw-p-6">
            {{ h1("Book Rendezvous for %s" % (configdict.selected.name)) }}
            <p>
                This list shows all inter-AS connections. For each connection, it shows both involved ASes, the edge-routers at
                which their networks are connected, as well as their business relationship.
            </p>
            <p class="tw-mb-4">
                Initially, the interfaces are not yet configured.
                When setting them up, use the IP addresses provided below.
            </p>
        </div>

        <form action="#" method="POST">
            <input type="hidden" name="team_asn" value="{{current_user.asn}}"> 
            <div id="rendezvous-div" class=" tw-flex tw-flex-row">
                {% for day in configdict.days %}
                <div class="tw-m-5 tw-rounded-md ">
                    {% for rendezvous in configdict.days[day] %}
                    <button type="submit" name="rend_id" value="{{rendezvous.id}}" class="{{"tw-cursor-not-allowed tw-pointer-events-none" if rendezvous.available!=1}} tw-p-4">
                        <div id="rendezvous{{rendezvous.id}}" class="tw-font-medium">
                            <div class="tw-w-32 tw-flex-none tw-rounded-t lg:tw-rounded-t-none lg:tw-rounded-l tw-text-center tw-shadow-lg ">
                                <div class="tw-block tw-rounded-t tw-overflow-hidden tw-text-center ">
                                    <div class="{{'tw-bg-blue-950 ' if rendezvous.available==1 else 'tw-bg-neutral-800 '}} tw-text-white tw-py-1">
                                        {{rendezvous.datetime.month}}
                                    </div>
                                    <div class="tw-pt-1 tw-border-l tw-border-r tw-border-white tw-bg-white">
                                        <span class="tw-text-5xl tw-font-bold tw-leading-tight">
                                            {{rendezvous.datetime.day}}
                                        </span>
                                    </div>
                                    <div class="tw-border-l tw-border-r tw-border-b tw-rounded-b-lg tw-text-center tw-border-white tw-bg-white tw--pt-2 tw--mb-1">
                                        <span class="tw-text-sm">
                                            {{rendezvous.datetime.day_str}}
                                        </span>
                                    </div>
                                    <div class="tw-pb-2 tw-border-l tw-border-r tw-border-b tw-rounded-b-lg tw-text-center tw-border-white tw-bg-white">
                                        <span class="tw-text-xs tw-leading-normal">
                                            {{rendezvous.datetime.time}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                    {% endfor %}
                </div>  
                {% endfor %}
            </div>        
        </form>
    </div>
    </div>
    {% endif %}
</div>

{% endblock %}