{% extends "config.html" %}

{% block content_header %}

<script>
students = {{ students|safe}};
rendezvous_list = {{ rendezvous_list|safe}};

function search_and_display(input){
    if (input == ""){
        $(".rendezvous").show()
        return
    }
    
    $(".rendezvous").hide()
    
    if (isNaN(input)) {
        filter = input.toUpperCase();
        student_team=-1
        for (student in students){
            if (students[student].name.toUpperCase().includes(filter)){
                student_team = students[student].team
                break;
            }
        }

        if (student_team == -1){
            return
        }

        for (rendezvous in rendezvous_list){
            if (rendezvous_list[rendezvous].team == student_team){
                $("#rendezvous"+rendezvous_list[rendezvous].id).show();
            }
        }
    } else {
        //if a number is given sort by asn
        filter = input;
        for (rendezvous in rendezvous_list){
            if (filter == rendezvous_list[rendezvous].team){
                $("#rendezvous"+rendezvous_list[rendezvous].id).show();
            }
        }
    }

}

$(document).ready(function() {
    $("#rendezvous-search-bar").on("keyup", function() {
        search_and_display($("#rendezvous-search-bar").val());
    });
} );
</script>

{% endblock %}

{% block content %}
<div class="tw-flex tw-flex-row tw-place-items-end tw-items-center tw-p-2 tw-m-2 tw-rounded-md tw-bg-red tw-shadow-md tw-gap-3">
    <div class="tw-w-full tw-relative">
        <div class="tw-absolute tw-inset-y-0 tw-left-0 tw-flex tw-items-center tw-pl-3 tw-pointer-events-none">
            <svg aria-hidden="true" class="tw-w-5 tw-h-5 tw-text-gray-500 dark:tw-text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
        </div>
        <input type="search" id="rendezvous-search-bar" class="tw-w-full tw-block tw-p-4 tw-pl-10 tw-text-sm tw-text-gray-900 tw-border tw-border-gray-300 tw-rounded-lg tw-bg-gray-50 focus:tw-ring-blue-500 focus:tw-border-blue-500 dark:tw-bg-gray-700 dark:tw-border-gray-600 dark:tw-placeholder-gray-400 dark:tw-text-white dark:focus:tw-ring-blue-500 dark:focus:tw-border-blue-500" placeholder="Search Team or Member...">
    </div>
    <div class="tw-min-w-[170px]">
        <button data-modal-target="new-period-modal" data-modal-toggle="new-period-modal" class="tw-text-white tw-bg-green-700 hover:tw-bg-green-800 focus:tw-ring-4 focus:tw-outline-none focus:tw-ring-green-300 tw-font-medium tw-rounded-lg tw-text-sm tw-px-5 tw-py-2.5 tw-text-center tw-inline-flex tw-items-center tw-mr-2 dark:tw-bg-green-600 dark:hover:tw-bg-green-700 dark:focus:tw-ring-green-800" type="button">
            <svg class="tw-w-5 tw-h-5 tw-mr-2 tw--ml-1" fill="currentColor"><path d="M5 13h6v6c0 0.552 0.448 1 1 1s1-0.448 1-1v-6h6c0.552 0 1-0.448 1-1s-0.448-1-1-1h-6v-6c0-0.552-0.448-1-1-1s-1 0.448-1 1v6h-6c-0.552 0-1 0.448-1 1s0.448 1 1 1z"></path></svg>
            New Period
        </button>
    </div>
    <div class="tw-min-w-[190px]">
        <button data-modal-target="new-rendezvous-modal" data-modal-toggle="new-rendezvous-modal" class="tw-text-white tw-bg-blue-700 hover:tw-bg-blue-800 focus:tw-ring-4 focus:tw-outline-none focus:tw-ring-blue-300 tw-font-medium tw-rounded-lg tw-text-sm tw-px-5 tw-py-2.5 tw-text-center tw-inline-flex tw-items-center tw-mr-2 dark:tw-bg-blue-600 dark:hover:tw-bg-blue-700 dark:focus:tw-ring-blue-800" type="button">
            <svg class="tw-w-5 tw-h-5 tw-mr-2 tw--ml-1" fill="currentColor"><path d="M5 13h6v6c0 0.552 0.448 1 1 1s1-0.448 1-1v-6h6c0.552 0 1-0.448 1-1s-0.448-1-1-1h-6v-6c0-0.552-0.448-1-1-1s-1 0.448-1 1v6h-6c-0.552 0-1 0.448-1 1s0.448 1 1 1z"></path></svg>
            New Rendezvous
        </button>
    </div>
    <div class="tw-min-w-[250px]">
        <button data-modal-target="new-rendezvous-range-modal" data-modal-toggle="new-rendezvous-range-modal" class="tw-text-white tw-bg-blue-700 hover:tw-bg-blue-800 focus:tw-ring-4 focus:tw-outline-none focus:tw-ring-blue-300 tw-font-medium tw-rounded-lg tw-text-sm tw-px-5 tw-py-2.5 tw-text-center tw-inline-flex tw-items-center tw-mr-2 dark:tw-bg-blue-600 dark:hover:tw-bg-blue-700 dark:focus:tw-ring-blue-800" type="button">
            <svg class="tw-w-5 tw-h-5 tw-mr-2 tw--ml-1" fill="currentColor"><path d="M5 13h6v6c0 0.552 0.448 1 1 1s1-0.448 1-1v-6h6c0.552 0 1-0.448 1-1s-0.448-1-1-1h-6v-6c0-0.552-0.448-1-1-1s-1 0.448-1 1v6h-6c-0.552 0-1 0.448-1 1s0.448 1 1 1z"></path></svg>
            New Rendezvous range
        </button>
    </div>
</div>

<div id="rendezvous-table"class="tw-rounded-md tw-shadow-md tw-p-[5px] tw-m-[10px] tw-relative tw-overflow-x-auto tw-shadow-md sm:tw-rounded-lg">
    <table id="studentTable" class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                {% for period in periods %}
                <th scope="col" class="px-6 py-3">
                    <a data-modal-target="edit-period{{period.id}}-modal" data-modal-toggle="edit-period{{period.id}}-modal" class="tw-font-medium {{"tw-text-blue-600" if period.live else "tw-text-gray-800"}} hover:underline">{{ period.name }} {{"[Inactive]" if  not period.live}}</a>
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody id="studentsTableBody">
            <tr class="tw-bg-white tw-text-gray-900 tw-border-b">
            {% for period in periods %}
                <td class="tw-align-top">
                    <table class="tw-text-left tw-rounded-lg">
                        {% for rendezvous in rendezvous_list%}
                        {% if rendezvous.period == period.id %}
                            <tr id="rendezvous{{rendezvous.id}}" class="rendezvous tw-bg-gray-50 tw-border-4 ">
                                <td id="rendezvous{{rendezvous.id}}-icon" class="tw-px-6 tw-py-4 tw-font-medium tw-text-gray-900 tw-whitespace-nowrap ">
                                    <div class="tw-font-medium">
                                        <div class="tw-w-32 tw-flex-none tw-rounded-t lg:tw-rounded-t-none lg:tw-rounded-l tw-text-center tw-shadow-lg ">
                                          <div class="tw-block tw-rounded-t tw-overflow-hidden tw-text-center ">
                                            <div class="tw-bg-blue-950 tw-text-white tw-py-1">
                                              {{rendezvous.datetime.month}}
                                            </div>
                                            <div class="tw-pt-1 tw-border-l tw-border-r tw-border-white tw-bg-white">
                                              <span class="tw-text-5xl tw-font-bold tw-leading-tight">
                                                {{rendezvous.datetime.day}}
                                              </span>
                                            </div>
                                            <div class="tw-border-l tw-border-r tw-border-b tw-rounded-b-lg tw-text-center tw-border-white tw-bg-white tw--pt-2 tw--mb-1">
                                              <span class="tw-text-sm">
                                                {{rendezvous.datetime.day_str}}
                                              </span>
                                            </div>
                                            <div class="tw-pb-2 tw-border-l tw-border-r tw-border-b tw-rounded-b-lg tw-text-center tw-border-white tw-bg-white">
                                              <span class="tw-text-xs tw-leading-normal">
                                                {{rendezvous.datetime.time}}
                                              </span>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                    
                                </td>
                                <td class="tw-text-lg tw-px-6 tw-py-4"><a data-modal-target="edit-rendezvous{{rendezvous.id}}-modal" data-modal-toggle="edit-rendezvous{{rendezvous.id}}-modal" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">{{'None' if rendezvous.team == -1 else 'Team '}}{{'' if rendezvous.team == -1 else rendezvous.team}}</a></td>
                            </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </td>
                
            {% endfor %}
            </tr>

            
        </tbody>
    </table>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>

<!-- Popups -->
<!-- New Period -->
<div id="new-period-modal" tabindex="-1" aria-hidden="true" class="tw-fixed tw-top-0 tw-left-0 tw-right-0 tw-z-50 hidden tw-w-full tw-p-4 tw-overflow-x-hidden tw-overflow-y-auto md:tw-inset-0 tw-h-[calc(100%-1rem)] tw-max-h-full">
    <div class="tw-relative tw-w-full tw-max-w-md tw-max-h-full">
        <!-- Modal content -->
        <div class="tw-relative tw-bg-white tw-rounded-lg tw-shadow dark:tw-bg-gray-700">
            <button type="button" class="tw-absolute tw-top-3 tw-right-2.5 tw-text-gray-400 tw-bg-transparent hover:tw-bg-gray-200 hover:tw-text-gray-900 tw-rounded-lg tw-text-sm tw-p-1.5 tw-ml-auto tw-inline-flex tw-items-center dark:hover:tw-bg-gray-800 dark:hover:tw-text-white" data-modal-hide="new-period-modal">
                <svg aria-hidden="true" class="tw-w-5 tw-h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="tw-sr-only">Close Popup</span>
            </button>
            <div class="tw-px-6 tw-py-6 lg:tw-px-8">
                <h3 class="tw-mb-4 tw-text-xl tw-font-medium tw-text-gray-900 dark:tw-text-white">New period</h3>
                <form class="tw-space-y-6" action="#" method="POST">
                    <input type="hidden" name="type" value="new-period">
                    <div>
                        <label for="name" class="tw-block tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900 dark:tw-text-white">Period name</label>
                        <input class="tw-bg-gray-50 tw-border tw-border-gray-300 tw-text-gray-900 tw-text-sm tw-rounded-lg focus:tw-ring-blue-500 focus:tw-border-blue-500 tw-block tw-w-full tw-p-2.5 dark:tw-bg-gray-600 dark:tw-border-gray-500 dark:tw-placeholder-gray-400 dark:tw-text-white" name="name" type="text">
                    </div>
                    <button type="submit" class="tw-w-full tw-text-white tw-bg-blue-700 hover:tw-bg-blue-800 focus:tw-ring-4 focus:tw-outline-none focus:tw-ring-blue-300 tw-font-medium tw-rounded-lg tw-text-sm tw-px-5 tw-py-2.5 tw-text-center dark:tw-bg-blue-600 dark:hover:tw-bg-blue-700 dark:focus:tw-ring-blue-800">Add Period</button>
                </form>
            </div>
        </div>
    </div>
</div> 

<!-- Edit period -->
{% for period in periods %}
<div id="edit-period{{period.id}}-modal" tabindex="-1" aria-hidden="true" class="tw-fixed tw-top-0 tw-left-0 tw-right-0 tw-z-50 hidden tw-w-full tw-p-4 tw-overflow-x-hidden tw-overflow-y-auto md:tw-inset-0 tw-h-[calc(100%-1rem)] tw-max-h-full">
    <div class="tw-relative tw-w-full tw-max-w-md tw-max-h-full">
        <!-- Modal content -->
        <div class="tw-relative tw-bg-white tw-rounded-lg tw-shadow dark:tw-bg-gray-700">
            <button type="button" class="tw-absolute tw-top-3 tw-right-2.5 tw-text-gray-400 tw-bg-transparent hover:tw-bg-gray-200 hover:tw-text-gray-900 tw-rounded-lg tw-text-sm tw-p-1.5 tw-ml-auto tw-inline-flex tw-items-center dark:hover:tw-bg-gray-800 dark:hover:tw-text-white" data-modal-hide="edit-period{{period.id}}-modal">
                <svg aria-hidden="true" class="tw-w-5 tw-h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="tw-sr-only">Close Popup</span>
            </button>
            <div class="tw-px-6 tw-py-6 lg:tw-px-8">
                <h3 class="tw-mb-4 tw-text-xl tw-font-medium tw-text-gray-900 dark:tw-text-white">Edit Period "{{period.name}}"</h3>
                <form class="tw-space-y-6" action="#" method="POST">
                    <input type="hidden" name="type" value="edit-period">
                    <input type="hidden" name="id" value="{{period.id}}">
                    <div>
                        <label for="name" class="tw-block tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900 dark:tw-text-white">Period name</label>
                        <input value="{{period.name}}" class="tw-bg-gray-50 tw-border tw-border-gray-300 tw-text-gray-900 tw-text-sm tw-rounded-lg focus:tw-ring-blue-500 focus:tw-border-blue-500 tw-block tw-w-full tw-p-2.5 dark:tw-bg-gray-600 dark:tw-border-gray-500 dark:tw-placeholder-gray-400 dark:tw-text-white" name="name" type="text">
                    </div>
                    <div class="tw-flex tw-justify-between">
                        <div class="tw-flex tw-items-start">
                            <div class="tw-flex tw-items-center tw-h-5">
                                <input id="{{period.id}}_live" name="live" type="checkbox" value="1" class="tw-w-4 tw-h-4 tw-border tw-border-gray-300 rounded tw-bg-gray-50 focus:tw-ring-3 focus:tw-ring-blue-300 dark:tw-bg-gray-600 dark:tw-border-gray-500 dark:focus:tw-ring-blue-600 dark:tw-ring-offset-gray-800 dark:focus:tw-ring-offset-gray-800" {{"checked" if period.live}}>
                                <input id="{{period.id}}_live_hidden" type="hidden" name="live" type="checkbox" value="0" class="tw-w-4 tw-h-4 tw-border tw-border-gray-300 rounded tw-bg-gray-50 focus:tw-ring-3 focus:tw-ring-blue-300 dark:tw-bg-gray-600 dark:tw-border-gray-500 dark:focus:tw-ring-blue-600 dark:tw-ring-offset-gray-800 dark:focus:tw-ring-offset-gray-800" checked>
                            </div>
                            <label for="remember" class="tw-ml-2 tw-text-sm tw-font-medium tw-text-gray-900 dark:tw-text-gray-300">Live Phase</label>
                        </div>
                    </div>
                    <button type="submit" class="tw-w-full tw-text-white tw-bg-blue-700 hover:tw-bg-blue-800 focus:tw-ring-4 focus:tw-outline-none focus:tw-ring-blue-300 tw-font-medium tw-rounded-lg tw-text-sm tw-px-5 tw-py-2.5 tw-text-center dark:tw-bg-blue-600 dark:hover:tw-bg-blue-700 dark:focus:tw-ring-blue-800">Update Period</button>
                    <button type="submit" name='delete' class="tw-w-full tw-text-white tw-bg-red-700 hover:tw-bg-red-800 focus:tw-ring-4 focus:tw-outline-none focus:tw-ring-red-300 tw-font-medium tw-rounded-lg tw-text-sm tw-px-5 tw-py-2.5 tw-text-center dark:tw-bg-red-600 dark:hover:tw-bg-red-700 dark:focus:tw-ring-red-800">Delete Period</button>
                </form>
                </form>
            </div>
        </div>
    </div>
</div> 
{% endfor %}

<!-- New Rendezvous -->
<div id="new-rendezvous-modal" tabindex="-1" aria-hidden="true" class="tw-fixed tw-top-0 tw-left-0 tw-right-0 tw-z-50 hidden tw-w-full tw-p-4 tw-overflow-x-hidden tw-overflow-y-auto md:tw-inset-0 tw-h-[calc(100%-1rem)] tw-max-h-full">
    <div class="tw-relative tw-w-full tw-max-w-md tw-max-h-full">
        <!-- Modal content -->
        <div class="tw-relative tw-bg-white tw-rounded-lg tw-shadow dark:tw-bg-gray-700">
            <button type="button" class="tw-absolute tw-top-3 tw-right-2.5 tw-text-gray-400 tw-bg-transparent hover:tw-bg-gray-200 hover:tw-text-gray-900 tw-rounded-lg tw-text-sm tw-p-1.5 tw-ml-auto tw-inline-flex tw-items-center dark:hover:tw-bg-gray-800 dark:hover:tw-text-white" data-modal-hide="new-rendezvous-modal">
                <svg aria-hidden="true" class="tw-w-5 tw-h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="tw-sr-only">Close Popup</span>
            </button>
            <div class="tw-px-6 tw-py-6 lg:tw-px-8">
                <h3 class="tw-mb-4 tw-text-xl tw-font-medium tw-text-gray-900 dark:tw-text-white">New rendezvous</h3>
                <form class="tw-space-y-6" action="#" method="POST">
                    <input type="hidden" name="type" value="new-rendezvous">
                    <div>
                        <label for="start" class="tw-block tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900 dark:tw-text-white">Select Rendezvous starting date/time</label>
                        <input class="tw-bg-gray-50 tw-border tw-border-gray-300 tw-text-gray-900 tw-text-sm tw-rounded-lg focus:tw-ring-blue-500 focus:tw-border-blue-500 tw-block tw-w-full tw-p-2.5 dark:tw-bg-gray-600 dark:tw-border-gray-500 dark:tw-placeholder-gray-400 dark:tw-text-white" id="new-rendezvous-start" name="start" type="datetime-local">
                    </div>
                    <div>
                        <label for="duration" class="tw-block tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900 dark:tw-text-white">Select Rendezvous duration (minutes)</label>
                        <input class="tw-bg-gray-50 tw-border tw-border-gray-300 tw-text-gray-900 tw-text-sm tw-rounded-lg focus:tw-ring-blue-500 focus:tw-border-blue-500 tw-block tw-w-full tw-p-2.5 dark:tw-bg-gray-600 dark:tw-border-gray-500 dark:tw-placeholder-gray-400 dark:tw-text-white" id="new-rendezvous-duration" name="duration" type="text">
                    </div>
                    <div>
                        <label for="period" class="tw-block tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900 dark:tw-text-white">Select Rendezvous period</label>
                        <select class="tw-bg-gray-50 tw-border tw-border-gray-300 tw-text-gray-900 tw-text-sm tw-rounded-lg focus:tw-ring-blue-500 focus:tw-border-blue-500 tw-block tw-w-full tw-p-2.5 dark:tw-bg-gray-600 dark:tw-border-gray-500 dark:tw-placeholder-gray-400 dark:tw-text-white" id="new-rendezvous-period" name="period">
                            {% for period in periods %}
                                <option value="{{ period.id }}">{{ period.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="tw-w-full tw-text-white tw-bg-blue-700 hover:tw-bg-blue-800 focus:tw-ring-4 focus:tw-outline-none focus:tw-ring-blue-300 tw-font-medium tw-rounded-lg tw-text-sm tw-px-5 tw-py-2.5 tw-text-center dark:tw-bg-blue-600 dark:hover:tw-bg-blue-700 dark:focus:tw-ring-blue-800">Add rendezvous</button>
                </form>
            </div>
        </div>
    </div>
</div> 

<!-- New Ranezvous range -->
<div id="new-rendezvous-range-modal" tabindex="-1" aria-hidden="true" class="tw-fixed tw-top-0 tw-left-0 tw-right-0 tw-z-50 hidden tw-w-full tw-p-4 tw-overflow-x-hidden tw-overflow-y-auto md:tw-inset-0 tw-h-[calc(100%-1rem)] tw-max-h-full">
    <div class="tw-relative tw-w-full tw-max-w-md tw-max-h-full">
        <!-- Modal content -->
        <div class="tw-relative tw-bg-white tw-rounded-lg tw-shadow dark:tw-bg-gray-700">
            <button type="button" class="tw-absolute tw-top-3 tw-right-2.5 tw-text-gray-400 tw-bg-transparent hover:tw-bg-gray-200 hover:tw-text-gray-900 tw-rounded-lg tw-text-sm tw-p-1.5 tw-ml-auto tw-inline-flex tw-items-center dark:hover:tw-bg-gray-800 dark:hover:tw-text-white" data-modal-hide="new-rendezvous-range-modal">
                <svg aria-hidden="true" class="tw-w-5 tw-h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="tw-sr-only">Close Popup</span>
            </button>
            <div class="tw-px-6 tw-py-6 lg:tw-px-8">
                <h3 class="tw-mb-4 tw-text-xl tw-font-medium tw-text-gray-900 dark:tw-text-white">New rendezvous range</h3>
                <form class="tw-space-y-6" action="#" method="POST">
                    <input type="hidden" name="type" value="new-rendezvous-range">
                    <div>
                        <label for="start" class="tw-block tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900 dark:tw-text-white">Select Rendezvous range starting date/time</label>
                        <input class="tw-bg-gray-50 tw-border tw-border-gray-300 tw-text-gray-900 tw-text-sm tw-rounded-lg focus:tw-ring-blue-500 focus:tw-border-blue-500 tw-block tw-w-full tw-p-2.5 dark:tw-bg-gray-600 dark:tw-border-gray-500 dark:tw-placeholder-gray-400 dark:tw-text-white" id="new-rendezvous-range-start" name="start" type="datetime-local">
                    </div>
                    <div>
                        <label for="start" class="tw-block tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900 dark:tw-text-white">Select Rendezvous range ending date/time</label>
                        <input class="tw-bg-gray-50 tw-border tw-border-gray-300 tw-text-gray-900 tw-text-sm tw-rounded-lg focus:tw-ring-blue-500 focus:tw-border-blue-500 tw-block tw-w-full tw-p-2.5 dark:tw-bg-gray-600 dark:tw-border-gray-500 dark:tw-placeholder-gray-400 dark:tw-text-white" id="new-rendezvous-range-start" name="end" type="datetime-local">
                    </div>
                    <div>
                        <label for="duration" class="tw-block tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900 dark:tw-text-white">Select Rendezvous duration (minutes)</label>
                        <input class="tw-bg-gray-50 tw-border tw-border-gray-300 tw-text-gray-900 tw-text-sm tw-rounded-lg focus:tw-ring-blue-500 focus:tw-border-blue-500 tw-block tw-w-full tw-p-2.5 dark:tw-bg-gray-600 dark:tw-border-gray-500 dark:tw-placeholder-gray-400 dark:tw-text-white" id="new-rendezvous-range-duration" name="duration" type="text">
                    </div>
                    <div>
                        <label for="period" class="tw-block tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900 dark:tw-text-white">Select Rendezvous period</label>
                        <select class="tw-bg-gray-50 tw-border tw-border-gray-300 tw-text-gray-900 tw-text-sm tw-rounded-lg focus:tw-ring-blue-500 focus:tw-border-blue-500 tw-block tw-w-full tw-p-2.5 dark:tw-bg-gray-600 dark:tw-border-gray-500 dark:tw-placeholder-gray-400 dark:tw-text-white" id="new-rendezvous-range-period" name="period">
                            {% for period in periods %}
                                <option value="{{ period.id }}">{{ period.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="tw-w-full tw-text-white tw-bg-blue-700 hover:tw-bg-blue-800 focus:tw-ring-4 focus:tw-outline-none focus:tw-ring-blue-300 tw-font-medium tw-rounded-lg tw-text-sm tw-px-5 tw-py-2.5 tw-text-center dark:tw-bg-blue-600 dark:hover:tw-bg-blue-700 dark:focus:tw-ring-blue-800">Generate Rendezvous</button>
                </form>
            </div>
        </div>
    </div>
</div> 

<!-- Edit Rendezvous -->
{% for rendezvous in rendezvous_list %}
<div id="edit-rendezvous{{rendezvous.id}}-modal" tabindex="-1" aria-hidden="true" class="tw-fixed tw-top-0 tw-left-0 tw-right-0 tw-z-50 hidden tw-w-full tw-p-4 tw-overflow-x-hidden tw-overflow-y-auto md:tw-inset-0 tw-h-[calc(100%-1rem)] tw-max-h-full">
    <div class="tw-relative tw-w-full tw-max-w-md tw-max-h-full">
        <!-- Modal content -->
        <div class="tw-relative tw-bg-white tw-rounded-lg tw-shadow dark:tw-bg-gray-700">
            <button type="button" class="tw-absolute tw-top-3 tw-right-2.5 tw-text-gray-400 tw-bg-transparent hover:tw-bg-gray-200 hover:tw-text-gray-900 tw-rounded-lg tw-text-sm tw-p-1.5 tw-ml-auto tw-inline-flex tw-items-center dark:hover:tw-bg-gray-800 dark:hover:tw-text-white" data-modal-hide="edit-rendezvous{{rendezvous.id}}-modal">
                <svg aria-hidden="true" class="tw-w-5 tw-h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="tw-sr-only">Close Popup</span>
            </button>
            <div class="tw-px-6 tw-py-6 lg:tw-px-8">
                <h3 class="tw-mb-4 tw-text-xl tw-font-medium tw-text-gray-900 dark:tw-text-white">Edit rendezvous at</h3>
                <form class="tw-space-y-6" action="#" method="POST">
                    <input type="hidden" name="type" value="edit-rendezvous">
                    <input type="hidden" name="id" value="{{rendezvous.id}}">
                    <div>
                        <label for="date" class="tw-block tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900 dark:tw-text-white">Rendezvous date/time</label>
                        <input  id="new-rendezvous-range-start" name="start" type="datetime-local" value="{{rendezvous.datetime.actual}}" class="tw-bg-gray-50 tw-border tw-border-gray-300 tw-text-gray-900 tw-text-sm tw-rounded-lg focus:tw-ring-blue-500 focus:tw-border-blue-500 tw-block tw-w-full tw-p-2.5 dark:tw-bg-gray-600 dark:tw-border-gray-500 dark:tw-placeholder-gray-400 dark:tw-text-white" disabled>
                    </div>
                    <div>
                        <label for="duration" class="tw-block tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900 dark:tw-text-white">Rendezvous duration (minutes)</label>
                        <input id="new-rendezvous-range-duration" name="duration" type="text" value="rendezvous.duration" class="tw-bg-gray-50 tw-border tw-border-gray-300 tw-text-gray-900 tw-text-sm tw-rounded-lg focus:tw-ring-blue-500 focus:tw-border-blue-500 tw-block tw-w-full tw-p-2.5 dark:tw-bg-gray-600 dark:tw-border-gray-500 dark:tw-placeholder-gray-400 dark:tw-text-white" disabled>
                    </div>
                    <div>
                        <label for="period" class="tw-block tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900 dark:tw-text-white">Rendezvous period</label>
                        <input id="new-rendezvous-range-period" name="period" type="text" value="{{rendezvous.period}}" class="tw-bg-gray-50 tw-border tw-border-gray-300 tw-text-gray-900 tw-text-sm tw-rounded-lg focus:tw-ring-blue-500 focus:tw-border-blue-500 tw-block tw-w-full tw-p-2.5 dark:tw-bg-gray-600 dark:tw-border-gray-500 dark:tw-placeholder-gray-400 dark:tw-text-white" disabled>
                    </div>
                    <div>
                        <label for="team" class="tw-block tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900 dark:tw-text-white">Assigned team</label>
                        <select name="team" placeholder="Select team" class="tw-bg-gray-50 tw-border tw-border-gray-300 tw-text-gray-900 tw-text-sm tw-rounded-lg focus:tw-ring-blue-500 focus:tw-border-blue-500 tw-block tw-w-full tw-p-2.5 dark:tw-bg-gray-600 dark:tw-border-gray-500 dark:tw-placeholder-gray-400 dark:tw-text-white">
                            {% for team in teams %}
                                {% if team.is_active %}
                                <option value="{{team.asn}}" {{"selected" if rendezvous.team == team.asn }}>{{team.asn}}</option>
                                {% endif %}
                            {% endfor %}
                            <option value='-1' {{"selected" if rendezvous.team == -1 }}>None</option>
                        </select>
                    </div>
                    <button type="submit" class="tw-w-full tw-text-white tw-bg-blue-700 hover:tw-bg-blue-800 focus:tw-ring-4 focus:tw-outline-none focus:tw-ring-blue-300 tw-font-medium tw-rounded-lg tw-text-sm tw-px-5 tw-py-2.5 tw-text-center dark:tw-bg-blue-600 dark:hover:tw-bg-blue-700 dark:focus:tw-ring-blue-800">Update Rendezvous</button>
                    <button type="submit" name='delete' class="tw-w-full tw-text-white tw-bg-red-700 hover:tw-bg-red-800 focus:tw-ring-4 focus:tw-outline-none focus:tw-ring-red-300 tw-font-medium tw-rounded-lg tw-text-sm tw-px-5 tw-py-2.5 tw-text-center dark:tw-bg-red-600 dark:hover:tw-bg-red-700 dark:focus:tw-ring-red-800">Delete Rendezvous</button>
                </form>
            </div>
        </div>
    </div>
</div> 

{% endfor %}
{% endblock %}
