{% extends "admin_base.html" %}
{% block head %}

{{ super() }}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block content_header %}{% endblock %}

{% endblock %}

{% block body %}
<aside id="default-sidebar" class="tw-drop-shadow-2xl tw-float-left tw-w-64 tw-h-screen tw-transition-transform tw--translate-x-full sm:tw-translate-x-0">
    <div class="tw-h-full tw-px-3 tw-py-4 tw-overflow-y-auto tw-bg-[#290D00] tw-text-white">
        <ul class="tw-space-y-2 tw-font-medium">
            <li> 
                <a href="/config/teams" class="tw-flex tw-items-center tw-p-2 tw-rounded-lg {{'tw-bg-[#3d1300]' if request.endpoint == 'config_teams' }} hover:tw-bg-[#521A00]">
                    <svg class="tw-w-6 tw-h-6 tw-transition tw-duration-75 group-hover:tw-text-gray-900 "xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                    <span class="tw-ml-3">AS Teams</span>
                </a>
            </li>
            <li>
                <a href="/config/students" class="tw-flex tw-items-center tw-p-2 tw-rounded-lg {{'tw-bg-[#3d1300]' if request.endpoint == 'config_students' }} hover:tw-bg-[#521A00]">
                    <svg class="tw-flex-shrink-0 tw-w-6 tw-h-6 tw-transition tw-duration-75 group-hover:tw-text-gray-900" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M5.52 19c.64-2.2 1.84-3 3.22-3h6.52c1.38 0 2.58.8 3.22 3"/><circle cx="12" cy="10" r="3"/><circle cx="12" cy="12" r="10"/></svg>
                    <span class="tw-flex-1 tw-ml-3 tw-whitespace-nowrap">Students</span>
                </a>
            </li>
            <li>
                <a href="/config/rendezvous" class="tw-flex tw-items-center tw-p-2 tw-rounded-lg {{'tw-bg-[#3d1300]' if request.endpoint == 'config_grades' }} hover:tw-bg-[#521A00]">
                    <svg class="tw-flex-shrink-0 tw-w-6 tw-h-6 tw-transition tw-duration-75 group-hover:tw-text-gray-900" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 20 20" fill="none" stroke="#FFFFFF" ><path d="M1 4c0-1.1 0.9-2 2-2h14c1.105 0 2 0.895 2 2v0 14c0 1.105-0.895 2-2 2v0h-14c-1.105 0-2-0.895-2-2v0-14zM3 6v12h14v-12h-14zM5 0h2v2h-2v-2zM13 0h2v2h-2v-2zM5 9h2v2h-2v-2zM5 13h2v2h-2v-2zM9 9h2v2h-2v-2zM9 13h2v2h-2v-2zM13 9h2v2h-2v-2zM13 13h2v2h-2v-2z"></path></svg>
                    <span class="tw-flex-1 tw-ml-3 tw-whitespace-nowrap">Rendezvous</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
<div class="tw-ml-64">
    {% block content %}{% endblock %}
</div>

{% endblock %}
