{% extends "base.html" %}
{% block head %}
{{ super() }}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block body %}
<div class="tw-max-w-4xl tw-mx-auto tw-p-6 tw-w-80">
    <div class="tw-flex tw-flex-col tw-border-white tw-border-l-amber-500 tw-border-2 tw-place-content-center tw-p-2 tw-pl-5">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
          <p>AS#:</p>
          {{ form.asn(class_='form-control tw-h-6 tw-w-full tw-mb-3 tw-border-2 tw-rounded-md tw-border-[#ff7e79] tw-drop-shadow-lg') }}
        </div>
        <div>
          <p>Password:</p>
          {{ form.password(class_='form-control tw-h-6 tw-w-full tw-mb-3 tw-border-2 tw-rounded-md tw-border-[#ff7e79] tw-drop-shadow-lg') }}
        </div>
        <div>
          {{ form.submit(class_='tw-rounded-md tw-px-2 tw-py-1 tw-bg-sky-500 hover:tw-bg-sky-600') }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}