{% extends "base.html" %}
{% from 'macros.html' import h1 %}

{% block head%}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script>
<script>

	function activate_submit(){
		$("#error_msg").hide();
		$("#submit_btn").prop('disabled', false);
	}

	function deactivate_submit(message){
		$("#error_msg").show();
		$("#error_msg").text(message);
		$("#submit_btn").prop('disabled', true);
	}

	function validate_submit(){
		oldpass		=$("#old_pass").val();
		newpass		=$("#new_pass").val();
		confirmpass	=$("#confirm_pass").val();

		if(oldpass == ""){ // Check if old password is empty
			deactivate_submit("Please enter your old password");
		}else if(newpass.length < 8){ // Allow only 8-character long passwords
			deactivate_submit("Password must be at least 8 characters long");
		}else if(confirmpass != newpass){ // Check if passwords match
			deactivate_submit("Passwords do not match");
		}else{
			activate_submit();
		}		
	}

	$(document).ready(function(){
		$("#error_msg").hide();
		validate_submit();
		$("#old_pass,#new_pass,#confirm_pass").on('input', function(){ validate_submit(); });
	});

</script>

{% endblock %}

{% block body %}
<div class="tw-max-w-4xl tw-mx-auto tw-p-6 tw-w-3/5">
	{{ h1("Change AS password") }}
	<p class="tw-mb-2">
	Here you can change your AS's password. This includes:
	</p>
	<ul class="tw-list-disc tw-list-inside tw-mb-2">
		<li>The ssh password of your proxy container</li>
		<li>The login password to this website</li>
	</ul>
	<p class="tw-mb-2">
		Your new password shoould contain at least 8 characters.
	</p>
	<div class="tw-flex tw-flex-col tw-border-white tw-border-l-amber-500 tw-border-2 tw-place-content-center tw-p-2 tw-pl-5">
		<form method="POST" action="">
			<div>
				<p>Enter your old AS password:</p>
				{{ form.old_pass(id_='old_pass', class_='form-control tw-mb-3 tw-border-2 tw-rounded-md tw-border-[#ff7e79] tw-drop-shadow-lg') }}
			</div>
			<div>
				<p>Enter your new AS password:</p>
				{{ form.new_pass(id_='new_pass',class_='form-control tw-mb-3 tw-border-2 tw-rounded-md tw-border-[#ff7e79] tw-drop-shadow-lg') }}
			<div>
			</div>
				<p>Confirm your new AS password:</p>
				{{ form.confirm_pass(id_='confirm_pass',class_='form-control tw-mb-3 tw-border-2 tw-rounded-md tw-border-[#ff7e79] tw-drop-shadow-lg') }}
			</div>
			<div class="tw-flex tw-items-center">
				<div>
					{{ form.submit(id_="submit_btn",class_='disabled:tw-bg-zinc-500 tw-rounded-md tw-px-2 tw-py-1 tw-bg-sky-500 hover:tw-bg-sky-600') }}
				</div>
				<div class="tw-w-3/5 tw-mx-2">
					<p id="error_msg" class="tw-text-red-600"></p>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
