{% macro update_message(freq, last) -%}
{% if freq or last -%}
<p class="tw-italic tw-text-sm tw-text-neutral-500 tw-mb-4">
    {% if freq -%}
    updates every {{ freq|format_timedelta_int }}{% if last %},{% else %}.{% endif %}
    {%- endif%}
    {% if last -%}
    last updated on {{ last|format_datetime }}.
    {%- endif %}
</p>
{%- endif %}
{%- endmacro %}
{% macro h1(text) -%}
<h1 class="tw-text-4xl tw-underline tw-underline-offset-2 tw-decoration-4  tw-decoration-[#ff7e79] tw-mono tw-mb-4">{{text}}</h1>
{%- endmacro %}