{% extends "base.html" %}
{% from 'macros.html' import update_message, h1 %}

{# Use a repeating-linear-gradient to put a strping pattern over the #}
{# progress bar if any element is at 0% #}
{% macro stripes(condition) -%}
{% if condition -%}
style="background-image: repeating-linear-gradient(45deg, transparent, transparent 4px, white 4px, white 6px);"
{%- endif %}
{%- endmacro %}
{% macro stacknumber(asn) -%}
{% if asn >= 100 -%}<span style="margin-bottom:-0.25rem">{{ asn // 100}}</span>{% endif %}
{% if asn >= 10 -%}<span style="margin-bottom:-0.25rem">{{ (asn % 100) // 10}}</span>{% endif %}
<span>{{ asn % 10}}</span>
{%- endmacro %}

{% block head %}
{{ super() }}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<meta http-equiv="refresh" content="{{60 if not update_frequency else update_frequency}}" />
{% endblock %}

{% block body %}
<!-- Column for text etc with fixed size. -->
<div class="tw-max-w-4xl tw-mx-auto tw-p-6">
	{{ h1("connectivity matrix") }}
	{{ update_message(update_frequency, last_updated)}}
	<p class="tw-mb-2">
		This connectivity matrix indicates the networks that each group
	</p>
	<ul class="tw-list-disc tw-list-inside tw-mb-2">
		{% if gao_rexford == "1" %}
		<li>can reach with a valid AS-level path (<span class="tw-bg-[#56c157]">&nbsp;&nbsp;&nbsp;</span>);
		</li>
		<li>can reach with an invalid AS-level path (<span class="tw-bg-[#f0ad4e]">&nbsp;&nbsp;&nbsp;</span>);
		</li>
		{% else %}
		<li>can reach (<span class="tw-bg-[#56c157]">&nbsp;&nbsp;&nbsp;</span>);
		</li>
		{% endif %}
		<li>cannot reach (<span class="tw-bg-[#d5605e]">&nbsp;&nbsp;&nbsp;</span>). </li>
	</ul>
	<p class="tw-mb-2">
		We determine reachability by sending periodic pings between all networks,
		if the ping succeeds, we consider the AS reachable.
		In addition to the ping, we compare the BGP looking glass outputs with
		the project topology to determine whether the path between two ASes is valid, i.e. if it does not violate any
		policies.
	</p>
	<p class="tw-mb-8">
		Note that the period for pings between two ASes can be higher than the matrix update frequency, and it may take a few matrix updates until a
		change for a particular pair of ASes is visible.
	</p>
	<!-- Progress bar -->
	{% if valid or invalid or failure %}
	<div class="tw-w-full tw-rounded-lg tw-border tw-border-neutral-300 tw-bg-neutral-300 tw-flex tw-mb-8">
		<div class="tw-basis-[{{valid}}%] tw-rounded-l-lg tw-px-2 tw-p-1 tw-bg-[#56c157]"
			title="Reachable with valid path: {{valid}}%" {{stripes(not valid)}}>
			{{valid}}%
		</div>
		{% if gao_rexford == "1" %}
		<div class="tw-basis-[{{invalid}}%] tw-px-2 tw-p-1 tw-bg-[#f0ad4e] tw-border-x-2 tw-border-white/50"
			title="Reachable with invalid path: {{invalid}}%" {{stripes(not invalid)}}>
			{{invalid}}%
		</div>
		{% endif %}
		<div class="tw-basis-[{{failure}}%] tw-px-2 tw-p-1 tw-rounded-r-lg tw-bg-[#d5605e]" title="Not reachable: {{failure}}%"
			{{stripes(not failure)}}>
			{{failure}}%
		</div>
	</div>
	{% else %}
	<p class="tw-italic tw-text-neutral-500 tw-mb-6 tw-text-center tw-mt-16">
		Sorry, no data is available! Please check in later.
	</p>
	{% endif %}
	<div
		class="2xl:tw-hidden tw-mb-8 tw-p-4 tw-text-md tw-border-l-4 tw-bg-neutral-100 tw-text-neutral-700 tw-border-neutral-400 tw-flex tw-flex-row">
		<div
			class="tw-flex tw-shrink-0 tw-items-center tw-justify-center tw-text-2xl tw-row-span-2 tw-w-12 tw-h-12 tw-mr-4 tw-rounded-full tw-bg-orange-300">
			🚨
		</div>
		<p>
			Your screen is not wide enough to properly display the connectivity
			matrix!<br />We recommend a larger screen for the best experience.
		</p>
	</div>
</div>

<!-- Matrix is allowed to spread out more. -->
<!-- We use a trick: padding-bottom is relative to cell _width_, -->
<!-- Thus setting it to 85% gives us (almost) square cells. -->
{% if connectivity %}
{% set n = connectivity|length %}
<div class="tw-max-w-full tw-mx-auto tw-mb-16 tw-overflow-x-auto">
	<div class="tw-grid tw-border tw-border-white/50 tw-border-collapse tw-mono {% if n>= 50 %}tw-text-xs{% endif %}"
		style="grid-template-columns: fit-content(100px) repeat({{ n }}, minmax(20px, 1fr));">
		<!-- header row. -->
		<div class="tw-border tw-border-white/50 tw-text-center tw-self-end">AS</div>
		{% for asn in (connectivity|sort) %}
			<div class="tw-border tw-border-white/50 tw-text-center even:tw-bg-neutral-200 tw-flex tw-flex-col tw-justify-end">
				{{ stacknumber(asn) }}
			</div>
		{% endfor %}
		<!-- content rows -->
		<!-- Add a little padding to ASN to make it look nicer. -->
		{% for asn in connectivity|sort %}
			<div class="tw-border tw-border-white/50 even:tw-bg-neutral-200 tw-text-right tw-pr-1">{{asn}}</div>
			{% for asn_dst in connectivity[asn]|sort %}
				{% if not connectivity[asn][asn_dst] %}
					<div class="tw-border tw-border-white/50 tw-bg-[#d5605e]" title="AS{{asn}}&rarr;AS{{asn_dst}}: Not Reachable"
						style="padding-bottom: 80%;">
					</div>
				{% else %}
					{% if validity and (asn in validity) and (asn_dst in validity[asn]) %}
						{% if validity[asn][asn_dst] or not gao_rexford == "1" %}
							<div class="tw-border tw-border-white/50 tw-bg-[#56c157]" title="AS{{asn}}&rarr;AS{{asn_dst}}: Reachable{{ " with valid path" if gao_rexford == "1"}}"
								style="padding-bottom: 80%;">
							</div>
						{% else %}
							<div class="tw-border tw-border-white/50 tw-bg-[#f0ad4e]"
								title="AS{{asn}}&rarr;AS{{asn_dst}}: Reachable with invalid path" style="padding-bottom: 80%;">
							</div>
						{% endif %}
					{% else %}
						<div class="tw-border tw-border-white/50 tw-bg-[#56c157]"
							title="AS{{asn}}&rarr;AS{{asn_dst}}: Reachable, but validity of path could not be verified."
							style="padding-bottom: 80%;">
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
</div>
{% endif %}
{% endblock %}
